<html>
	<head>
	<title>My Briefcase</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src = "static/js/MyBriefcaseLoginPageAngular.js"></script>
	</head>
	<body ng-app = "myBriefcase">
		<form ng-controller = "myBriefcaseCtrl">
			<div class = "col-sm-5"></div>
			<div class = "col-sm-2" style = "margin-top:10%; width:400px; height:auto">
			<div>
				<img 
				src = "static/images/unitycareLogo.jpg" 
				width = "200px" 
				height = "180px" 
				style = "margin-left:-15px"><span style = "position:absolute; TOP:125px; font-size: 20px">My Briefcase</span>
			</div>
			
				<p>Username:</p> <input class = "form-control" type = "email" ng-model = "username"></input>
				<p>Password: </p><input class = "form-control" type = "password" ng-model = "password"></input>
				<button type = "submit" class = "btn btn-primary" ng-click = "submit()" style = "float:right; margin-top:20px">Log In</button>
			</div>
		</form>
	</body>
</html>